name: Upload Python Package

on:
  push:
    branches:
      - master

    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
      - uses: dschep/install-poetry-action@v1.2
      - uses: actions/checkout@v1
      - uses: jpetrucciani/black-check@master

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          poetry install

      - name: Run the tests
        run: |
          pytest

      - name: Build and publish
        env:
          PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          poetry build
          poetry publish --username $PYPI_USERNAME --password $PYPI_PASSWORD
